<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
      <div>
        <img src="/images/history-in-hd-v_e3Hha4EBA-unsplash.jpg" />
        <img src="/images/library-of-congress-WYmjDP_8kMU-unsplash.jpg" />
      </div>
    </nav>
  </body>
</html>
