<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>
    <h1>Achievements</h1>
    <h2>Some achievements of Barack Obama</h2>
    <ul>
      <li>
        Rescued the country from the Great Recession, cutting the unemployment
        rate from 10% to 4.7% over six years
      </li>
      <li>
        Signed the Affordable Care Act which provided health insurance to over
        20 million uninsured Americans
      </li>
      <li>Ended the war in Iraq</li>
      <li>Ordered for the capture and killing of Osama Bin Laden</li>
      <li>
        Passed the $787 billion America Recovery and Reinvestment Act to spur
        economic growth during the Great Recession
      </li>
      <li>
        Signed the Deferred Action for Childhood Arrivals allowing as many as 5
        million people living in the U.S. illegally to avoid deportation and
        receive work permits
      </li>
    </ul>
  </body>
</html>
